.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

C.notes/.obsidian/app.json
C.notes/.obsidian/appearance.json
C.notes/.obsidian/core-plugins-migration.json
C.notes/.obsidian/core-plugins.json
C.notes/.obsidian/hotkeys.json
C.notes/.obsidian/workspace.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

hello
fahcel
ex1-3
ex1-4
ex1-5
define