# Ignore all vscode files
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

# Ignore all .json notes files
C.notes/.obsidian/app.json
C.notes/.obsidian/appearance.json
C.notes/.obsidian/core-plugins-migration.json
C.notes/.obsidian/core-plugins.json
C.notes/.obsidian/hotkeys.json
C.notes/.obsidian/workspace.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore all files without an extension
*
!*/
!*.*

# Don't ignore Makefile
!Makefile

# Unknoun files
*.ipch

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.bin

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/